<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.weibeld.example">

    <!--
      If using a Toolbar as the activities' app bars (instead of the default ActionBar), must use
      a theme inheriting from Theme.AppCompat.*.NoActionBar. This prevents the default ActionBar
      from showing up.
    -->



    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".tabs.ServiceExample" />

        />

        <receiver android:name=".tabs.BroadCast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".tabs.Fragments_and_UI.MainActivity"
            android:label="@string/app_name">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".tabs.Fragments_and_UI.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.weibeld.example.tabs.Fragments_and_UI.MainActivity" />
        </activity>
        <activity
            android:name=".tabs.Fragments_and_UI.AppSelectorSettings"
            android:label="@string/title_activity_app_selector_settings"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>